@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.review-form-container {
  padding: 50px 50px;
  gap: 10px;
}

.form-container-reviews{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-review-box {
  border: none;
  padding: 8px 20px;
  font-family: 'DM Sans';
}

.filled{
  color: black;
}

.empty {
  color: gray;
}

.star-area{
  display: flex;
  justify-content: center;
}

.submit-review-button {
  background-color: #fa7b62;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.submit-review-button:disabled{
  background-color: #965143;
  color: lightgray;
}
