@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.login-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 90px;
  gap: 20px;
}

.login-modal-errors{
  color: red;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-username, .login-password {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: flex;
  width: 230px;
  height: 20px;
  font-family: 'DM Sans';
  padding: 10px 10px;
}

.login-button {
  border: none;
  padding: 10px 10px;
  border-radius: 15px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  color: white;
  background-color: #fcaa9a;
}

.demo-button {
  border: none;
  background-color: #FFF0DC;
  font-size: 15px;
  text-decoration: underline;
  font-family: 'DM Sans';
  font-weight: bold;
  color: rgb(70, 70, 210);
}

.point {
  cursor: pointer;
}
